body {
    font-family: 'OpenSans', Helvetica, Arial, sans-serif;
    background-color: #EDEDED;
}

.main-container {
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.main-logo {
    padding: 40px;
    background-color: black;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}

.pad-10 {
    padding: 10px;
}

.pad-0 {
    padding: 0px;
}

.pt-50 {
    padding-top: 20px;
}

.relative {
    position: relative;
}

.ver-align {
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
}

.col-green {
    color: green;
}

.cok {
    margin-bottom: .5rem;
}

.mt-15 {
    margin-top: 15px;
}

.m-10 {
    margin: 10px;
}

.mt-5 {
    margin-top: 3px!important;
}

.m-0 {
    margin: 0px;
}

.order-btn {
    border-radius: 10px;
    background-color: #ABE030;
    border: 0px solid #fff;
    padding: 12px 20px;
    color: #4D5521;
}

.item {
    margin: 0px;
}

.line {
    margin-top: 20px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid silver;
}

.accessories {
    color: white;
    background-color: #354901;
    padding: 45px 0px;
    font-weight: 400;
    font-size: 25pt;
}

.tape-container {
    overflow: hidden;
}

.tape {
    width: 370px;
    max-width: 100%;
    height: auto;
}

.tape-banner {
    padding: 10px 0px;
    background-color: black;
    color: #A3DC21;
    font-weight: 500;
    font-size: 12pt;
}

.items .product-container {
    padding-top: 5px;
    padding-right: 2px;
    padding-left: 2px;
    width: 100%;
}

.products {
    background-color: #D0D0D0;
    width: 100%;
    height: 180px;
    position: relative;
    display: flex;
}

.footer {
    background-color: #2F2F2F;
    color: white;
}

.footer p {
    line-height: 1.4em;
    font-size: 14px;
}

.footer a {
    color: #FFD500;
    text-decoration: underline;
}

.footer h5 {
    font-weight: bold;
}

.tel {
    text-decoration: none!important;
    display: inline;
}

.socmed {
    padding-top: 20px;
}

.nav-mobile {
    background-color: black;
    width: 100vw;
}

.btn-phone {
    border-radius: 0px;
    border: 2px solid white;
    background-color: #2B2B2B;
    color: white;
    height: 40px;
    width: 40px;
    display: inline-block;
    float: right;
    box-sizing: border-box;
}

.btn-trolley {
    box-sizing: border-box;
    border-radius: 0px;
    background-color: #A8E600;
    color: #999999;
    height: 40px;
    width: 40px;
    display: inline-block;
    float: right;
}

.title {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 17pt;
    font-weight: bold;
}

.nav-items {
    padding: 20px 0px;
    color: #8BF000;
    font-weight: 600;
    font-size: 14pt;
}

.nav-tablet {
    padding: 20px 0px;
    color: #8BF000;
    font-weight: 600;
    font-size: 14pt;
}

.headbar {
    padding: 10px 0px;
}

.search-input {
    border-radius: 0px;
    padding: 10px 18px;
    font-size: 15pt;
}

.search-sort {}

.btn-search {
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 0px;
    display: table;
    background-color: silver;
    border: 1px solid black;
}

.btn-search .fa {
    display: table-cell;
    vertical-align: middle;
}

.btn-search span {
    display: table-cell;
    vertical-align: middle;
}

.fa {
    margin-bottom: auto;
    margin-top: auto;
}

.filter {
    width: 100%;
    border-radius: 0px;
    border: 0px solid black;
    background-color: white!important;
    color: #2F2F2F!important;
    padding: 13px 0px;
}

.view-button {
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
    background-color: #FFFFFF;
    color: #5D5D5D;
    border: 0px solid black;
    border-radius: 100px;
    font-weight: bold;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.product-detail {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.product-name {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding: 2px;
    font-weight: bold;
}

.product-type:hover {
    background-color: #8EED00;
    color: black;
    padding: 2px;
}

.product-type {
    background-color: #000;
    color: white;
    padding: 2px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
}

.product-container:hover .view-button {
    opacity: 1;
}

.prev {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 0px 10px 10px 0px;
}

.next {
    background-color: #646464;
    border-radius: 10px 0px 0px 10px;
}

.btn-prev-next {
    padding: 10px 10px;
    border: 0px solid black;
}

.btn-prev-next i {
    font-size: 25pt;
    vertical-align: middle;
}

.btn-prev-next span {
    vertical-align: middle;
    padding-top: 50px;
}

.selected-page {
    color: #6CC900;
    font-weight: bold;
}

.footer {
    background-color: black;
}

.footer-items {
    padding: 20px 0px;
    font-weight: bold;
    vertical-align: middle;
}

.footer-items i {
    color: #FFCC00;
    font-size: 12pt;
}

.yellow {
    color: #FFCC00;
}

.smaller {
    font-size: smaller;
}

.bottom-border {
    border-bottom: 1px solid silver;
}

.nav-tablet {
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.nav-tablet:hover {
    color: #6CC900;
}

.warna {
    padding: 15px;
    font-weight: bold;
}

.merah {
    background-color: red;
    color: white;
}

.hijau {
    background-color: #6CC900;
    color: black;
}

.oranye {
    background-color: #FFCE00;
    color: black;
}

.promo-full .com-4 {
    padding: 10px;
}

@media screen and (max-width:580px) {
    .xs-container {
        padding: 0px!important;
    }
    .miss-tablet {
        display: none;
    }
    .promo {
        display: none;
    }
    .promo-full {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .miss-tablet {
        display: none;
    }
    .promo {
        display: none;
    }
    .promo-full {
        display: none;
    }
}

@media screen and (min-width:581px) {
    .search-sort {
        background-color: black;
        padding-bottom: 5px;
    }
    .miss-mobile {
        display: none;
    }
    .pagination-container {
        padding: 0px;
    }
}

@media screen and (min-width:994px) {
    .promo {
        display: none;
    }
    .warna {
        font-size: 10pt;
        font-weight: bold;
        margin-bottom: 10px;
        border-radius: 0px 0px 10px 10px;
    }
}

@media screen and (max-width:994px) {
    .promo-full {
        display: none;
    }

    .find{
        display: none!important;
    }
}