body {
    background-color: black;
    padding: 10px;
    font-family: 'OpenSans', Helvetica, Arial, sans-serif;
}

.main-container {
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.main-logo {
    padding: 40px;
    background-color: black;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}

.pad-10 {
    padding: 10px;
}

.pad-0 {
    padding: 0px;
}

.pt-50 {
    padding-top: 20px;
}

.relative {
    position: relative;
}

.ver-align {
    margin-top: auto;
    margin-bottom: auto;
}

.col-green {
    color: green;
}

.cok {
    margin-bottom: .5rem;
}

.mt-15 {
    margin-top: 15px;
}

.m-10 {
    margin: 10px;
}

.order-btn {
    border-radius: 10px;
    background-color: #ABE030;
    border: 0px solid #fff;
    padding: 12px 20px;
    color: #4D5521;
}

.item {
    margin: 0px;
}

.line {
    margin-top: 20px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid silver;
}

.accessories {
    color: white;
    background-color: #354901;
    padding: 45px 0px;
    font-weight: 400;
    font-size: 25pt;
}

.tape-container {
    overflow: hidden;
}

.tape {
    width: 370px;
    max-width: 100%;
    height: auto;
}

.tape-banner {
    padding: 10px 0px;
    background-color: black;
    color: #A3DC21;
    font-weight: 500;
    font-size: 12pt;
}

.products {
    padding: 0px 10px;
}

.footer {
    background-color: #2F2F2F;
    color: white;
}

.footer .col-md-6 {
    padding: 40px 35px;
}

.footer p {
    line-height: 1.4em;
    font-size: 14px;
}

.footer a {
    color: #FFD500;
    text-decoration: underline;
}

.footer h5{
    font-weight: bold;
}

.tel{
    text-decoration: none!important;
    display: inline;
}

.socmed{
    padding-top:20px;
}