 .c-purple {
     color: #201862;
 }

 .c-green {
     color: #6ac80a;
 }

 .c-grey {
     color: #969696;
 }

 .f-bold {
     font-weight: 900;
 }

 .f-semibold {
     font-weight: 500;
 }

 .product {
     align-items: center;
 }

 .simpsons {
     background-color: #f1f1f1;
     width: 100%;
     padding: 50px 80px;
 }

 .pad-0 {
     padding: 0px!important;
 }

 .mar-0 {
     margin: 0px!important;
 }

 .bordered {
     border: 3px solid #dfdfdf;
     box-sizing: border-box;
 }

 .blackout-full {
     position: absolute;
     width: 100%;
     z-index: 10;
     height: 100%;
     top: 0;
     background-color: rgba(0, 0, 0, 0.5);
     color: white;
     opacity: 0;
     -webkit-transition: opacity .5s ease;
     -moz-transition: opacity .5s ease;
     -o-transition: opacity .5s ease;
     transition: opacity .5s ease;
 }

 .portfolio-items:hover .blackout-full {
     opacity: 1;
 }